@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/sass\/views\.scss}line{font-family:\0000312}}
.views-exposed-form .form-item,
.views-exposed-form .form-submit {
  margin-top: 0;
  margin-bottom: 0;
}

/* table style column align */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/sass\/views\.scss}line{font-family:\0000326}}
.views-align-left {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/sass\/views\.scss}line{font-family:\0000329}}
.views-align-right {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/sass\/views\.scss}line{font-family:\0000332}}
.views-align-center {
  text-align: center;
}

/* Remove the border on tbody that system puts in */
